.tile-container {
    width:100%;
    text-align: center;
    margin: 32px auto;
}

.welcome-container, .invoice-container {
    max-width: 60%;
    width: 100%;
    margin: 30px auto;
border-radius:5px;
}

.table-hover {
    cursor: pointer;
}


.invoice-detail-container {
    margin: 32px auto;
}

.no-match-container {
 max-width: 50%;
 width: 100%;
 margin: 32px auto
}

.no-match-container > * { 
    text-align: center;
}